.match-card {
  position: relative;
  margin: 1em;
  margin-bottom: 0.5em;
  box-shadow: 2px 2px 1rem 1px rgba(120, 120, 120, 0.2);
  /* display: flex; */
  justify-content: center;
}

.row-1 {
  display: flex;
  justify-content: center;
}

.row2{
  font-size: larger;
}

.draw-btn {
  padding: 0.5em;
  width: 5em;
  text-align: center;
  font-size: larger;
  font-weight: bold;
  cursor: pointer;
  margin: 0.5em auto 0.5em auto;
}

.draw-btn:hover {
  background: #264e88;
  color: white;
  border-radius: 2em;
}

.draw-bet {
  background: #264e88;
  color: white;
  border-radius: 2em;
}

.vs {
  align-self: center;
  margin: 0.5em;
}

.team, .active1, .active2 {
  display: flex;
  align-items: center;
  padding: 0.5em;
  cursor: pointer;
}

.team1:hover, .active1 {
  color: white;
  background: linear-gradient(90deg, rgba(255,255,255,1) 0%, #264e88 70%);
  border-radius: 2em;
}

.team2:hover, .active2 {
  color: white;
  background: linear-gradient(-90deg, rgba(255,255,255,1) 0%, #264e88 70%);
  border-radius: 2em;
}

.team-name {
  margin: 0.5em;
  align-self: center;
  width: 10em;
  font-weight: bold;
  font-size: larger;
}

.team1, .team-left {
  text-align: right;
}

.logo {
  width: 5em;
  height: 3em;
  background-size: 5em 3em;
}

.card-left {
  position: absolute;
  align-self: center;
  left: 1em;
  padding-top: 3em;
}

.winner {
  background: #4caf50;
  border-radius: 2em;
  color: white;
}

.loser {
  background: #F44336;
  border-radius: 2em;
  color: white;
}

.score {
  font-size: larger;
  font-weight: bold;
}

.card-right {
  position: absolute;
  right: 3em;
  align-self: center;
  text-align: center;
}

.card-right .points {
  font-weight: bold;
  font-size: x-large;
}

.points.loss {
  color: #F44336;
}

.points.win {
  color: #4caf50;
}

.no-padding {
  padding: 0;
}