/* Add your CSS here */

* {
  font-family: 'Source Sans Pro', sans-serif;
}

.heading {
  font-family: 'Gloria Hallelujah', cursive;
  color: #fafafa
}

a {
  text-decoration: none;
  color: white;
}

a:visited, a div {
  color: white;
}

.links {
  display: flex;
  align-items: center;
  margin-top: 0.5em;
}

.drawer {
  display: none;
}

.link {
  width: 5em;
  text-align: center;
}