/* Group A */
.Egypt {
  background-image: url('https://fsprdcdnpublic.azureedge.net/global-pictures/flags-fwc2018-4/egy');
}

.Russia {
  background-image: url('https://fsprdcdnpublic.azureedge.net/global-pictures/flags-fwc2018-4/rus');
}

.Saudi.Arabia {
  background-image: url('https://fsprdcdnpublic.azureedge.net/global-pictures/flags-fwc2018-4/ksa');
}

.Uruguay {
  background-image: url('https://fsprdcdnpublic.azureedge.net/global-pictures/flags-fwc2018-4/uru');
}

/* Group B */
.Iran {
  background-image: url('https://fsprdcdnpublic.azureedge.net/global-pictures/flags-fwc2018-4/irn');
}

.Morocco {
  background-image: url('https://fsprdcdnpublic.azureedge.net/global-pictures/flags-fwc2018-4/mar');
}

.Portugal {
  background-image: url('https://fsprdcdnpublic.azureedge.net/global-pictures/flags-fwc2018-4/por');
}

.Spain {
  background-image: url('https://fsprdcdnpublic.azureedge.net/global-pictures/flags-fwc2018-4/esp');
}

/* Group C */
.Australia {
  background-image: url('https://fsprdcdnpublic.azureedge.net/global-pictures/flags-fwc2018-4/aus');
}

.Denmark {
  background-image: url('https://fsprdcdnpublic.azureedge.net/global-pictures/flags-fwc2018-4/den');
}

.France {
  background-image: url('https://fsprdcdnpublic.azureedge.net/global-pictures/flags-fwc2018-4/fra');
}

.Peru {
  background-image: url('https://fsprdcdnpublic.azureedge.net/global-pictures/flags-fwc2018-4/per');
}

/* Group D */
.Argentina {
  background-image: url('https://fsprdcdnpublic.azureedge.net/global-pictures/flags-fwc2018-4/arg');
}

.Croatia {
  background-image: url('https://fsprdcdnpublic.azureedge.net/global-pictures/flags-fwc2018-4/cro');
}

.Iceland {
  background-image: url('https://fsprdcdnpublic.azureedge.net/global-pictures/flags-fwc2018-4/isl');
}

.Nigeria {
  background-image: url('https://fsprdcdnpublic.azureedge.net/global-pictures/flags-fwc2018-4/nga');
}

/* Group E */
.Brazil {
  background-image: url('https://fsprdcdnpublic.azureedge.net/global-pictures/flags-fwc2018-4/bra');
}

.Costa {
  background-image: url('https://fsprdcdnpublic.azureedge.net/global-pictures/flags-fwc2018-4/crc');
}

.Serbia {
  background-image: url('https://fsprdcdnpublic.azureedge.net/global-pictures/flags-fwc2018-4/srb');
}

.Switzerland {
  background-image: url('https://fsprdcdnpublic.azureedge.net/global-pictures/flags-fwc2018-4/sui');
}

/* Group F */
.Germany {
  background-image: url('https://fsprdcdnpublic.azureedge.net/global-pictures/flags-fwc2018-4/ger');
}

.Korea {
  background-image: url('https://fsprdcdnpublic.azureedge.net/global-pictures/flags-fwc2018-4/kor');
}

.Mexico {
  background-image: url('https://fsprdcdnpublic.azureedge.net/global-pictures/flags-fwc2018-4/mex');
}

.Sweden {
  background-image: url('https://fsprdcdnpublic.azureedge.net/global-pictures/flags-fwc2018-4/swe');
}

/* Group G */
.Belgium {
  background-image: url('https://fsprdcdnpublic.azureedge.net/global-pictures/flags-fwc2018-4/bel');
}

.England {
  background-image: url('https://fsprdcdnpublic.azureedge.net/global-pictures/flags-fwc2018-4/eng');
}

.Panama {
  background-image: url('https://fsprdcdnpublic.azureedge.net/global-pictures/flags-fwc2018-4/pan');
}

.Tunisia {
  background-image: url('https://fsprdcdnpublic.azureedge.net/global-pictures/flags-fwc2018-4/tun');
}

/* Group H */
.Colombia {
  background-image: url('https://fsprdcdnpublic.azureedge.net/global-pictures/flags-fwc2018-4/col');
}

.Japan {
  background-image: url('https://fsprdcdnpublic.azureedge.net/global-pictures/flags-fwc2018-4/jpn');
}

.Poland {
  background-image: url('https://fsprdcdnpublic.azureedge.net/global-pictures/flags-fwc2018-4/pol');
}

.Senegal {
  background-image: url('https://fsprdcdnpublic.azureedge.net/global-pictures/flags-fwc2018-4/sen');
}
